build/.ninja_deps
build/.ninja_log
build/build.ninja
build/cmake_install.cmake
build/CMakeCache.txt
build/MuteFirefox.exe
build/MuteFirefox.ilk
build/MuteFirefox.pdb
build/Screencap.exe
build/Screencap.ilk
build/Screencap.pdb
build/vcpkg-manifest-install.log
build/.cmake/api/v1/query/client-vscode/query.json
build/.cmake/api/v1/reply/cache-v2-89e0f8e790ff9418dba4.json
build/.cmake/api/v1/reply/cmakeFiles-v1-306a70a4510a038e80ca.json
build/.cmake/api/v1/reply/codemodel-v2-ea8d33f9a72cc2888a7b.json
build/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
build/.cmake/api/v1/reply/index-2025-10-01T09-52-22-0233.json
build/.cmake/api/v1/reply/target-Screencap-Debug-c2d3d9eda0981b9ff99c.json
build/.cmake/api/v1/reply/toolchains-v1-80e2eb4582d74f11d57b.json
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeConfigureLog.yaml
build/CMakeFiles/rules.ninja
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/3.29.5-msvc4/CMakeCCompiler.cmake
build/CMakeFiles/3.29.5-msvc4/CMakeCXXCompiler.cmake
build/CMakeFiles/3.29.5-msvc4/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.29.5-msvc4/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.29.5-msvc4/CMakeRCCompiler.cmake
build/CMakeFiles/3.29.5-msvc4/CMakeSystem.cmake
build/CMakeFiles/3.29.5-msvc4/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.29.5-msvc4/CompilerIdC/CMakeCCompilerId.exe
build/CMakeFiles/3.29.5-msvc4/CompilerIdC/CMakeCCompilerId.obj
build/CMakeFiles/3.29.5-msvc4/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/3.29.5-msvc4/CompilerIdCXX/CMakeCXXCompilerId.exe
build/CMakeFiles/3.29.5-msvc4/CompilerIdCXX/CMakeCXXCompilerId.obj
build/CMakeFiles/MuteFirefox.dir/embed.manifest
build/CMakeFiles/MuteFirefox.dir/intermediate.manifest
build/CMakeFiles/MuteFirefox.dir/manifest.rc
build/CMakeFiles/MuteFirefox.dir/manifest.res
build/CMakeFiles/MuteFirefox.dir/mute_firefox.cpp.obj
build/CMakeFiles/MuteFirefox.dir/vc140.pdb
build/CMakeFiles/Screencap.dir/embed.manifest
build/CMakeFiles/Screencap.dir/intermediate.manifest
build/CMakeFiles/Screencap.dir/manifest.rc
build/CMakeFiles/Screencap.dir/manifest.res
build/CMakeFiles/Screencap.dir/screencap.cpp.obj
build/CMakeFiles/Screencap.dir/vc140.pdb
build/CMakeFiles/ShowIncludes/foo.h
build/CMakeFiles/ShowIncludes/main.c
build/CMakeFiles/ShowIncludes/main.obj
build/vcpkg_installed/vcpkg/compiler-file-hash-cache.json
build/vcpkg_installed/vcpkg/manifest-info.json
build/vcpkg_installed/vcpkg/status
build/vcpkg_installed/vcpkg/vcpkg-lock.json
build/vcpkg_installed/vcpkg/info/fmt_11.2.0_x64-windows.list
build/vcpkg_installed/vcpkg/info/vcpkg-cmake_2024-04-23_x64-windows.list
build/vcpkg_installed/vcpkg/info/vcpkg-cmake-config_2024-05-23_x64-windows.list
build/vcpkg_installed/x64-windows/bin/fmt.dll
build/vcpkg_installed/x64-windows/bin/fmt.pdb
build/vcpkg_installed/x64-windows/debug/bin/fmtd.dll
build/vcpkg_installed/x64-windows/debug/bin/fmtd.pdb
build/vcpkg_installed/x64-windows/debug/lib/fmtd.lib
build/vcpkg_installed/x64-windows/debug/lib/pkgconfig/fmt.pc
build/vcpkg_installed/x64-windows/include/fmt/args.h
build/vcpkg_installed/x64-windows/include/fmt/base.h
build/vcpkg_installed/x64-windows/include/fmt/chrono.h
build/vcpkg_installed/x64-windows/include/fmt/color.h
build/vcpkg_installed/x64-windows/include/fmt/compile.h
build/vcpkg_installed/x64-windows/include/fmt/core.h
build/vcpkg_installed/x64-windows/include/fmt/format-inl.h
build/vcpkg_installed/x64-windows/include/fmt/format.h
build/vcpkg_installed/x64-windows/include/fmt/os.h
build/vcpkg_installed/x64-windows/include/fmt/ostream.h
build/vcpkg_installed/x64-windows/include/fmt/printf.h
build/vcpkg_installed/x64-windows/include/fmt/ranges.h
build/vcpkg_installed/x64-windows/include/fmt/std.h
build/vcpkg_installed/x64-windows/include/fmt/xchar.h
build/vcpkg_installed/x64-windows/lib/fmt.lib
build/vcpkg_installed/x64-windows/lib/pkgconfig/fmt.pc
build/vcpkg_installed/x64-windows/share/fmt/copyright
build/vcpkg_installed/x64-windows/share/fmt/fmt-config-version.cmake
build/vcpkg_installed/x64-windows/share/fmt/fmt-config.cmake
build/vcpkg_installed/x64-windows/share/fmt/fmt-targets-debug.cmake
build/vcpkg_installed/x64-windows/share/fmt/fmt-targets-release.cmake
build/vcpkg_installed/x64-windows/share/fmt/fmt-targets.cmake
build/vcpkg_installed/x64-windows/share/fmt/usage
build/vcpkg_installed/x64-windows/share/fmt/vcpkg_abi_info.txt
build/vcpkg_installed/x64-windows/share/fmt/vcpkg.spdx.json
build/vcpkg_installed/x64-windows/share/vcpkg-cmake/copyright
build/vcpkg_installed/x64-windows/share/vcpkg-cmake/vcpkg_abi_info.txt
build/vcpkg_installed/x64-windows/share/vcpkg-cmake/vcpkg_cmake_build.cmake
build/vcpkg_installed/x64-windows/share/vcpkg-cmake/vcpkg_cmake_configure.cmake
build/vcpkg_installed/x64-windows/share/vcpkg-cmake/vcpkg_cmake_install.cmake
build/vcpkg_installed/x64-windows/share/vcpkg-cmake/vcpkg-port-config.cmake
build/vcpkg_installed/x64-windows/share/vcpkg-cmake/vcpkg.spdx.json
build/vcpkg_installed/x64-windows/share/vcpkg-cmake-config/copyright
build/vcpkg_installed/x64-windows/share/vcpkg-cmake-config/vcpkg_abi_info.txt
build/vcpkg_installed/x64-windows/share/vcpkg-cmake-config/vcpkg_cmake_config_fixup.cmake
build/vcpkg_installed/x64-windows/share/vcpkg-cmake-config/vcpkg-port-config.cmake
build/vcpkg_installed/x64-windows/share/vcpkg-cmake-config/vcpkg.spdx.json
